:root {
  --ff-login: 'Montserrat', sans-serif;
  --btn-input: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
  --box: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: var(--ff-login);
}

img {
  width: 100%;
}

h2 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 2.2rem;
}

p {
  opacity: 0.7;
}

a {
  text-decoration: none;
  color: #000;
}

/* containers */
.container {
  height: 100vh;
  overflow: hidden;
  background-image: url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container {
  padding: 10px;
}

/* form box */
.form-box {
  height: 500px;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  overflow: hidden;
  box-shadow: var(--box);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}

/* sign in section */
.sign-in-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 20px #999;
}

.welcome,
.info {
  margin: 10px auto;
}

.signin {
  width: 90%;
}

/* create account section */
.create-account-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 90%;
  opacity: 0.7;
}

.item {
  border: 1px solid #444;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 4px;
  margin: 0 10px;
}

.create-account-section p {
  margin: 10px auto;
}

/* form */
.formlogin {
  width: 80%;
  margin: 0 auto;
}

/* form inputs */
.form-inputs {
  margin: 0 auto;
}

.userinput {
  font-size: 0.9rem;
  margin: 4px auto;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: var(--btn-input);
}

.userinput::placeholder {
  opacity: 0.5;
  font-weight: bold;
}

.userinput:focus {
  outline: none;
  border: 1px solid #fff;
}

/* form actios */
.form-actions {
  margin: 10px auto;
  text-align: center;
}

.btn {
  padding: 10px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  margin: 10px auto;
  cursor: pointer;
  box-shadow: 0 0 14px #999;
}

.btn-submit,
.btn-sign-in {
  border-radius: 20px;
  width: 50%;
  border: none;
  background-color: rgba(24, 24, 240, 0.9);
  transition: all .2s ease;
}

.btn-submit:hover {
  background-color: rgba(24, 24, 240, 1);
}

.btn-reset-password {
  border: none;
  width: 100%;
}

@media (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) {
  .form-box {
    width: 80%;
  }
}
